In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('data/Marketing_Campaign_Dataset_1_TRAIN.xlsx')

In [3]:
data

,Loyalty_Card_ID,Loyalty_Date,Loyalty_Year,Year_Birth,Education,Gender,Glasses,Marital_Status,Right_Handed,Income,...,Store_Count_Item,Total_Amt_Item,Total_Count_Item,Discount_Purchase,Online_Visits_Month,Email_Opened,Email_Clicks,Facebook_Profile_ID,Insta_Profile_ID,Score
0,1061567,2022-05-02,2,2003,Less than High School,Other,0,Married,1,44291,...,493,6457,852,34,30,36,20,xGQqYVZo8y,1EeiJ1vJ7K,0
1,1071191,2023-07-10,3,1997,Bachelor Degree,Female,0,Single,0,97248,...,152,3545,579,32,44,0,0,hEv1taoRlB,hiQkj5Eipv,1
2,1009191,2023-06-19,3,1978,High School Diploma,Female,1,Widow,0,39209,...,102,4486,329,21,32,13,21,LvOqV1rP5M,SPA7MEwOtj,1
3,1077133,2023-10-31,3,1954,Bachelor Degree,Female,1,Married,0,92976,...,54,6596,515,51,32,44,18,X8UfvFc39w,GQ3QxjNKDj,2
4,1060798,2021-08-06,1,1948,High School Diploma,Male,1,Married,1,42921,...,463,6632,691,34,2,24,9,EkEbeWaIZS,zjAPYc6cq3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,1097456,2023-12-21,3,1969,Bachelor Degree,Female,1,Married,1,214584,...,156,2844,578,25,12,8,24,jhNpflPyJ7,siyO2mdR1a,0
89996,1023240,2022-10-03,2,1948,Advanced Degree,Female,0,Single,1,133069,...,278,6294,519,17,31,15,17,AydbCyejue,CsoSFmKe7g,1
89997,1010755,2021-09-03,1,1961,Less than High School,Female,0,Married,1,7541,...,331,3366,437,29,44,22,12,Oo5vfTQCCi,6XnGq2DAL0,4
89998,1065748,2023-12-05,3,1986,High School Diploma,Female,1,Divorced,0,43474,...,346,2944,623,47,1,25,11,dtl5n7wM4Z,FfiIezq3lW,3
89999,1059581,2021-06-19,1,1938,Less than High School,Male,1,Widow,0,33584,...,23,3881,298,63,40,35,9,MnjyKkAAkX,6AHx9WSbIx,5